useDynLib(lmom)
export(cdfexp)
export(cdfgam)
export(cdfgev)
export(cdfglo)
export(cdfgno)
export(cdfgpa)
export(cdfgum)
export(cdfkap)
export(cdfnor)
export(cdfpe3)
export(cdfwak)
export(quaexp)
export(quagam)
export(quagev)
export(quaglo)
export(quagno)
export(quagpa)
export(quagum)
export(quakap)
export(quanor)
export(quape3)
export(quawak)
export(lmrexp)
export(lmrgam)
export(lmrgev)
export(lmrglo)
export(lmrgno)
export(lmrgpa)
export(lmrgum)
export(lmrkap)
export(lmrnor)
export(lmrpe3)
export(lmrwak)
export(pelexp)
export(pelgam)
export(pelgev)
export(pelglo)
export(pelgno)
export(pelgpa)
export(pelgum)
export(pelkap)
export(pelnor)
export(pelpe3)
export(pelwak)
export(samlmu)
export(samlmu.s)
export(lmrp)
export(lmrq)
export(pelp)
export(pelq)
export(lmrd)
export(evplot)
export(evpoints)
export(evdistp)
export(evdistq)
